version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-server
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: dbd.2025!
      MYSQL_USER: alumno
      MYSQL_PASSWORD: dbd.2025
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_spanish_ci
    ports:
      - "3307:3306"
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: adminer-client
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mysql

volumes:
  mysql_data:
